.order-container{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3rem;
    justify-content: center;
    align-items: center;
}

.order-card{
    width: 50%;
    margin: 1rem;
    padding-left: 3rem;
    padding-top: 2rem;
    padding-bottom: 3rem;

    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
    /* box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
    /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 1rem;
}

.order-details{
    /* border: 1px solid orange; */
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: .6px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 1rem;
}

.order-items{
    /* border: 1px solid turquoise; */
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: .6px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 1rem;
}