
.contents{
  display: flex;
  /* margin: auto auto; */
  /* border: 1px solid green; */
  flex-direction: column;
  width: 55%;
  position: relative;
  top: -43px;
}
.customer-main{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.head{
    display: flex;
    /* width: 50%; */
    width: 100%;
    /* margin-top: 3rem; */
    justify-content: center;
    padding: 1.3rem;
    color: rgb(36, 35, 35);
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    letter-spacing: 0.8px;
    font-weight: 800;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.scrollist{
  overflow: scroll;
  height: 40rem;
  /* border: 1px solid red; */
} 
#customers {

    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    color: rgb(17, 17, 17);
    border-collapse: collapse;
    /* width: 50%; */
    width: 100%;
    /* margin: auto auto; */
    /* margin-top: 4rem;
    margin-bottom:10rem; */
    
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  
  #customers td, #customers th {
    border: 1px solid rgb(177, 175, 175);
    padding: 8px;
  }
  td{
    font-weight: 500;
    letter-spacing: 0.1rem;
    font-size: 1.6rem;
    
  }
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #f1f1f1;
    color: rgb(36, 35, 35);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    letter-spacing: 0.8px;
  }
  .btn-container{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
  }
  .btn{
      margin-right: 0.7rem;
      width: 10%;
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
      font-size: 1.3rem;
      border-radius: 0.5rem;
      font-weight: 600;
      letter-spacing: 0.1rem;
  }
  .btn-wid{
    width: 50%;
  }
  .btn-txt{
      font-size: 1.9rem;
      background-color: rgb(61, 201, 61);
      width: 17%;
  }
  .addItems{
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 40%;
      align-items: center;
      left: 30%;
      height: 55%;
      background-color: rgb(255, 255, 255);
      color: rgb(36, 35, 35);
      font-family: 'Open Sans', sans-serif;
      font-size: 1.8rem;
      letter-spacing: 0.8px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
      z-index: 5;
      border-radius: 15px;
      display: none;
  }

  .itm-lbl{
    position: relative;
    margin-top: 3%;
  }

  .itm-details{
    
    display: flex;
    flex-direction: column;
    position: relative;
    top: 15%;
    width: 60%;
    left: 20%;
  }

  .itm-input{
    float: right;
    width: 70%;
  }
  .btn-lg{
    width: 100%;
  }
  .bn{
      background-color: #3cbd40; 
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: block;
      font-size: 1.5rem;
      font-weight: bolder;
      letter-spacing: 0.1rem;
      border-radius: 5px;
      margin-top: 5%;
      position: relative;
      float: right;
  }
  .cross{
    position: absolute;
    width: 5.2%;
    display: flex;
    justify-content: center ;
    justify-items: center;
    color: white;
    background-color: rgb(250, 6, 6);
    border-radius: 100%;
    font-weight: bolder;
    font-size: 2.3rem;
    right: 2.5%;
    top: 3%;
    cursor: pointer;
  }